---
name: Run Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.13"

      # Restore cached virtual environment
      # Restore cached virtual environment
      - name: Restore virtual environment
        uses: ./.github/actions/cache

      - name: Install dependencies
        if: steps.python-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt

  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.13"

      # Restore cached virtual environment
      # Restore cached virtual environment
      - name: Restore virtual environment
        uses: ./.github/actions/cache

      - name: Lint
        run: python3 -m ruff check .

      - name: Format
        run: python3 -m ruff format . --check

  tests:
    needs: setup
    runs-on: ubuntu-latest
    permissions:
      # Required for PR comments
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.13"

      # Restore cached virtual environment
      - name: Restore virtual environment
        uses: ./.github/actions/cache

      - name: Run tests with coverage
        run: |
          pytest --junitxml=pytest.xml --cov=./custom_components/ --cov-config=.coveragerc --cov-report=xml:coverage.xml --cov-report=term-missing

      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3.39
        with:
          GITHUB_TOKEN: ${{ github.token }}
          ANNOTATE_MISSING_LINES: "true"

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v5.0.0
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          # If you use a different name, update COMMENT_ARTIFACT_NAME accordingly
          name: python-coverage-comment-action
          # If you use a different name, update COMMENT_FILENAME accordingly
          path: python-coverage-comment-action.txt
          include-hidden-files: true
